* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-image: -webkit-radial-gradient(100% 250% at 50% -25%, #6eaad1 0%, #0a3772 60%);
    background-image: radial-gradient(100% 250% at 50% -25%, #6eaad1 0%, #0a3772 60%);
}
iframe {
    border: 0;
}
.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.loading .logo {
    position: absolute;
    top: 1.75rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 250px;
}
